<div id="gdxp-proportions"></div>

<script>
$(function () {
        $('#gdxp-proportions').highcharts({
            chart: {
                type: 'column',
                borderWidth: 2,
                borderColor: '#98bf21'
            },
            title: {
                text: 'GDXp * Country Crosstabulation'
            },
            subtitle: {
                text: 'Source: http://idatassist.com/'
            },
            xAxis: {
                categories: [
                    'Bangladesh',
                    'Ghana',
                    'India',
                    'Malawi',
                    'Tanzania',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Proportion'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'A',
                data: [27.3,41.4,32.9,46.9,57.9]
    
            }, {
                name: 'B',
                data: [31.8,51.4,10.1,42.9,30.7]
    
            }, {
                name: 'C',
                data: [13.6,7.1,9.2,8.1,9.3] 
            }, {
                name: 'D',
                data: [27.3,0.0,47.8,2.2,2.1]
    
            }]
        });
    });
</script>