<% list_variables.each_with_index do |variable, index| %>

  <div class="row bottom-buffer">
    <div class="col-md-5">
      <h3> Waiting for the corrected Excel workbook </h3>
    </div>

    <div class="col-md-5">
      <h3> Waiting for the corrected Excel workbook  </h3>
    </div>
  </div>

   <div class="row bottom-buffer">
    <div class="col-md-5">
      <h3> Waiting for the corrected Excel workbook  </h3>
    </div>
    <div class="col-md-5">
      <h3>Waiting for the corrected Excel workbook </h3>
     
    </div>
  </div>

<% end %>
