<div id="mkxp-proportions"></div>

<script>
$(function () {
        $('#mkxp-proportions').highcharts({
            chart: {
                type: 'column',
                borderWidth: 2,
                borderColor: '#98bf21'
            },
            title: {
                text: 'MKXp * Country Crosstabulation'
            },
            subtitle: {
                text: 'Source: http://idatassist.com/'
            },
            xAxis: {
                categories: [
                    'Bangladesh',
                    'Ghana',
                    'India',
                    'Malawi',
                    'Tanzania',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Proportion'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'A',
                data: [31.8,48.6,2.8,12.4,1.4]
    
            }, {
                name: 'B',
                data: [18.2,22.9,7.5,15.2,1.4]
    
            }, {
                name: 'C',
                data: [22.7,27.1,8.9,51.6,12.9]
    
            }, {
                name: 'D',
                data: [27.3,1.4,80.7,20.8,34.3]
    
            }]
        });
    });
</script>