<div id="pdxp-proportions"></div>

<script>
$(function () {
        $('#pdxp-proportions').highcharts({
            chart: {
                type: 'column',
                borderWidth: 2,
                borderColor: '#98bf21'
            },
            title: {
                text: 'PLXp * Country Crosstabulation'
            },
            subtitle: {
                text: 'Source: http://idatassist.com/'
            },
            xAxis: {
                categories: [
                    'Bangladesh',
                    'Ghana',
                    'India',
                    'Malawi',
                    'Tanzania',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Proportion'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'A',
                data: [18.2,38.6,72.0,11.5,51.4]
    
            }, {
                name: 'B',
                data: [31.8,37.1,7.1,56.5,32.1]
    
            }, {
                name: 'C',
                data: [22.7,21.4,5.9,29.2,12.1]
    
            }, {
                name: 'D',
                data: [27.3,2.9,15.1,2.8,4.3]
    
            }]
        });
    });
</script>