<div id="rkxp-counts"></div>

<script>
$(function () {
        $('#rkxp-counts').highcharts({
            chart: {
                type: 'column',
                borderWidth: 2,
                borderColor: '#98bf21'
            },
            title: {
                text: 'RKXp * Country Crosstabulation'
            },
            subtitle: {
                text: 'Source: http://idatassist.com/'
            },
            xAxis: {
                categories: [
                    'Bangladesh',
                    'Ghana',
                    'India',
                    'Malawi',
                    'Tanzania',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'A',
                data: [4,44,214,13,17]
    
            }, {
                name: 'B',
                data: [3,21,70,24,11]
    
            }, {
                name: 'C',
                data: [3,3,52,44,17]
    
            }, {
                name: 'D',
                data: [12,2,89,241,25]
    
            }]
        });
    });
</script>