<div id="rkxp-proportions"></div>

<script>
$(function () {
        $('#rkxp-proportions').highcharts({
            chart: {
                type: 'column',
                borderWidth: 2,
                borderColor: '#98bf21'
            },
            title: {
                text: 'RKXp * Country Crosstabulation'
            },
            subtitle: {
                text: 'Source: http://idatassist.com/'
            },
            xAxis: {
                categories: [
                    'Bangladesh',
                    'Ghana',
                    'India',
                    'Malawi',
                    'Tanzania',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Proportion'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'A',
                data: [18.2,62.9,50.4,4.0,12.1]
    
            }, {
                name: 'B',
                data: [13.6,30.0,16.5,7.5,7.9]
    
            }, {
                name: 'C',
                data: [13.6,4.3,12.2,13.7,12.1]
    
            }, {
                name: 'D',
                data: [54.5,2.9,20.9,74.8,17.9]
    
            }]
        });
    });
</script>