<div id="uixp-proportions"></div>

<script>
$(function () {
        $('#uixp-proportions').highcharts({
            chart: {
                type: 'column',
                borderWidth: 2,
                borderColor: '#98bf21'
            },
            title: {
                text: 'UIXp * Country Crosstabulation'
            },
            subtitle: {
                text: 'Source: http://idatassist.com/'
            },
            xAxis: {
                categories: [
                    'Bangladesh',
                    'Ghana',
                    'India',
                    'Malawi',
                    'Tanzania',
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Proportion'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'A',
                data: [27.3,67.1,14.1,52.2,0.0]
    
            }, {
                name: 'B',
                data: [36.4,1.4,13.2,23.3,0.0]
    
            }, {
                name: 'C',
                data: [13.6,31.4,31.8,19.3,24.3]
    
            }, {
                name: 'D',
                data: [22.7,0.0,40.9,5.3,75.7]
    
            }]
        });
    });
</script>